.roboto-title {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;

  }

  .roboto {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;

  }

.catamaran-title {
    font-family: "Catamaran", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    
  }

  .herr-von-muellerhoff-regular {
    font-family: "Herr Von Muellerhoff", cursive;
    font-weight: 400;
    font-style: normal;
  }

  .arizonia-regular {
    font-family: "Arizonia", cursive;
    font-weight: 400;
    font-style: normal;
  }
  .lobster-regular {
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  

  .scroll-section {
    opacity: 0;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    transform: translateY(20px);

}
.scroll-section.active {
    opacity: 1;
    transform: translateY(0);
}  
  .icon {
    width: 45px;

 
  }



.navbar-primary {
    width: 85vw;
    z-index: 5;
    
}

.navbar-secondary {
    background-color: white;
    color: whitesmoke;
    background-image: url(images/pinksmokelight.jpg);
    background-position: 50% 30%;
    background-size: cover;



}


.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.parallax {
    /* The image used */
    background-image: url('images/pinksmokelightsmall.jpg');
    box-shadow: 0 0 5px 10px white inset;

    /* Full height */
    min-height: 300px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.link-button {
    background-color: #DDF0F6;
}

.offcanvas-logo {
/*     height: 75px;
 */
    width: 75px;

}

.offcanvas {
    background-image: url(images/pinksmokesmall.jpg);
    background-size: cover;
}

.offcanvas-body {
    background: rgba(0,0,0 .0);
}


.title-centered {
    text-align: center;
}

#overlay {
    position: absolute;
    z-index:100;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
}


main {
    display: flex;
    justify-content: center;


}

.heroContainer {

    position: relative;
    text-align: center;
    width: 95vw;



}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;    background-color: white;
    color: whitesmoke;
    background-image: url(images/pinksmokelight.jpg);
    background-position: 50% 30%;
    background-size: cover;
    transform: translate(-50%, -50%);



}

.hero-overlay {
    font-size: 20vw;
    color: white;


}


.hero-border {
    justify-content: center !important;
}

.section-title {
    color: whitesmoke;
    text-align: center;
    font-size: 2.5em;
    padding: 30px;
/*     background-image: url(images/pinksmokelight.jpg);
    background-size: cover;
    background-position: 50% 50%; */
    background-color: white;
    color: whitesmoke;
    background-image: url(images/pinksmokelight.jpg);
    background-position: 50% 30%;
    background-size: cover;
}



.section {

    color:black;
    width: 100vw;
    padding: 30px;
    font-size: medium;
/*     background: #9b2a83;
    background: linear-gradient(90deg, rgba(155, 42, 131, 0.62) 1%, rgba(199, 87, 173, 0.88) 50%, rgba(237, 83, 224, 0.17) 100%); */
}

.service-img {
    width: 85vw;
}

.accordion-button::after, 
.accordion-button:not(.collapsed)::after {
    background-image: unset !important;
}


.about {
    padding: 20px;
}

.main-slideshow {
    width: 70vw;
}

.service-overlay {
    font-size: 18vw;
    color: white;
    font-weight: bolder;
}

.services {
    position: relative;
    text-align: center;
    background-color:white;
    width: 85vw;
}

.contact-links {
    width: 85vw;
    padding: 10px;
}

#myPopup {
    display: none;
     position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); 
     background-color: black;
     color: white;
     padding: 20px; 
     border: 1px solid black;
}

.hours-map {
    width: 85vw;




}

th, td {
    background-color: rgb(51, 51, 51) !important;
    color: whitesmoke !important; 
}
.hours {

    font-size: 10px;

}

.map {
 
    float: right;
}

footer {
    background-color: rgb(51, 51, 51);
    width: 85vw;
    padding-top: 20px;


}

.footer-info{
    font-size: smaller;
    color: whitesmoke;
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0.1;
	}
	100% {
		opacity: 1;
	}
}




@media screen and (min-width: 768px){
    .service-overlay{
        font-size: 7vw;
    }

    .hero-overlay {
        font-size: 15vw;
    }

     .heroContainer {
      width: 70vw;
    }

    .section-title {
        width: 70vw;
    }

    .section {
        width: 70vw;
        font-size: x-large;
    }

    .services {
        width: 70vw
    }

}

@media screen and (min-width: 1400px){
    .service-overlay{
        font-size: 5vw;
    }

    .hero-overlay {
        font-size: 11vw;
    }

     .heroContainer {
      width: 50vw;
    }

    .section-title {
        width: 50vw;
    }

    .section {
        width: 50vw;
        font-size: x-large;
    }

    .services {
        width: 50vw;
    }

    footer {
        width: 50vw;
    }
    
}
